
<app-navbar></app-navbar>
<div class="container-fluid pt-3" >
    
    <div class="card" style="width: 105rem;">
        <div class="card">
            
        </div>
        <img src="assets/inves.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Pharmaceutical companies work towards bringing new cures to the market and improving
                treatments available for patients. <br>

                <strong> In the life sciences sector, pharmaceutical companies work towards bringing new cures to the
                    market and improving treatments available for patients.</strong> <br>

                However, diseases aren't easily targeted; there's no specific cure for all types of cancer, or a direct
                method for stopping all the infectious disease variants that affect humanity.

                As such, companies in the pharmaceutical sector try to expand potential treatments and seek new ways to
                work with medicine that already exists. For example, a pharmaceutical company might develop drugs for
                multiple indications or could look at addressing broader categories, such as pain.

                The US is the world's leader in research and development (R&D). According to Catalyst Pharma, since
                1980, R&D efforts in the country have grown significantly, rising from US$2 billion to a record high of
                US$91.1 billion in 2020. Additionally, the US is the largest pharmaceutical market.
                Prescription drug sales in the nation are also robust, and are expected to reach US$400 billion by 2025,
                up from an estimated US$359 billion in 2020.

                Investors interested in this growing industry may want to put their money into companies that could be
                on the verge of finding new cures or advancing treatments for rare diseases. However, there are many
                challenges when investing in these companies, and it's crucial to be aware that time and patience play a
                large role when it comes to the pharma space.

                For one thing, it's important to know that while the biggest pharma companies are pursuing their own
                pipelines, they are also using partnerships, licensing deals and collaborations to expand drug
                candidates. AbbVie (NYSE:ABBV), Bristol-Myers Squibb (NYSE:BMY,OTC Pink:BMYMP) and Pfizer (NYSE:PFE) are
                a few of those players and can always be counted on as big market stocks available for investors.

                It's also key to note that the overarching pharmaceutical industry goes beyond the biggest
                pharmaceutical companies. Small- to medium-cap drug companies continue to make an impact in developing
                innovative pharmaceutical products and attract a variety of investors. <br>
                <strong>Investing in pharmaceutical companies: Drug approvals </strong> <br>
                One of the challenges drug manufacturers face is the cycle of trials to develop innovative therapies.

                As mentioned, the US is the biggest healthcare market globally, and its regulatory agency, the US Food
                and Drug Administration (FDA), ensures that every medication that is marketed goes through the Center
                for Drug Evaluation and Research (CDER). Essentially, CDER reviews each new therapy before it can be
                commercialized and sold on the market.

                The new drug approval process requires patience from pharmaceutical manufacturers and investors alike.
                In order to receive any kind of approval from the agency, companies submit an application to the FDA for
                approval, which can take up to two and a half years.

                Before this even happens, it can take companies over 10 years to develop a drug and bring it to the
                market. After a therapy is developed, it goes through more than three years of laboratory testing before
                an application is made to the FDA. If the FDA approves, the drug will then go through three phases of
                clinical trials.

                Although some are clamoring for a faster process, an easier barrier to entry for pharmaceuticals could
                lead to unforeseen reactions or faulty products slipping by the tests from the FDA.

                Once a new drug reaches the clinical trial stage, pharmaceutical companies play a vital role in ensuring
                the trials are managed efficiently. It's up to drug companies to make sure processes such as enrolling
                patients and gathering and submitting trial results are done correctly.

                Each clinical trial has a different length, study participation and purpose, but this begins even before
                a drug is in a clinical trial. After drug discovery and initial development, a medicine is moved into
                preclinical research before it can be tested on humans.

                All of this is to say that investors should be ready to play the long game when it comes to investing in
                pharmaceutical companies. Additionally, dips in share prices are common if a company misses a target
                deadline or a drug doesn't perform exactly as it was promised during a trial.

                Investing in pharmaceutical companies: Lower drug prices?
                During his time in office, former FDA Commissioner Scott Gottlieb put the agency on a crusade to lower
                prices for prescription drugs by inciting competition between pharmaceutical companies.

                In a statement issued in February 2019, Gottlieb said the agency had been taking steps to "support
                downward pressure on drug prices by helping to clear a path for more efficient generic development."
                Generic drugs were the main method employed by Gottlieb to fulfill former US president Donald Trump's
                campaign promises. Around the same time, a US Senate Committee on Finance hearing in early 2019 blasted
                several pharmaceutical executives on the high cost of drugs.

                In late 2020, the Trump administration enacted a set of rules aimed at linking drug reimbursement to
                less expensive foreign drug prices and allowing medication imports from Canada; the rules also require
                insurers to pass along discounts from manufacturers to patients at the point of sale. Unsurprisingly,
                big pharma has brought the fight against those regulations to the courts.

                Lowering the price of prescription drugs for Americans is still a high priority for US President Joe
                Biden. His administration has made reigning in prescription drug prices an important part of the Build
                Back Better plan.

                The stakes have been raised by emerging markets such as China, which has increased drug patent life from
                20 to 25 years, the longest timeframe in a major market. In addition to increasing competition, this
                move will let companies benefit from five additional years of sales before generic products can be made
            </p>
        </div>   
    </div>
</div>
<app-footer></app-footer>

