<app-navbar></app-navbar>
<div class="container-fluid pt-3  ">
  <div class="card m-3 " style="background-color: #2EC4B6;">
    <div class="card-header">
      <h1>About XYZPharma</h1>
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur harum iste officiis
        officia doloremque laudantium? Debitis, minus, tempore eligendi, autem neque beatae quae ullam libero ducimus
        placeat explicabo eius illo.
        Ex ipsam dignissimos sapiente. Facere repudiandae neque tenetur quibusdam deserunt, corrupti libero sapiente
        saepe provident iusto atque incidunt nihil expedita perspiciatis et eius ducimus reiciendis? Molestias vel ex
        perspiciatis beatae? </p>
    </div>
  </div>

  <div class="card m-3 " style="background-color: #2EC4B6;">
    <div class="card-header">
      <h1>Awards</h1>
    </div>
    <div class="card-body">
      <ul>
        <li>Conferred with the Pharmaproficient Gold Award for new chimical Entities 2000 </li>
        <li>WPF crowns XYZPharma as the 'Best Pharma Company in Emerging Market' ar World Pharmaceutical Awards 2012 in
          London</li>
        <li>XYZPharma receives the Indian Chantier of Commerce and industry Clvic Award 2016</li>
        <li>Indian Medicament Manufacturers Association(MMA)Corporate Citizen Award 2019 To XYZPharma</li>
      </ul>
    </div>
  </div>

  <div class="card m-3" style="background-color: #2EC4B6;">
    <div class="card-header">
      <h1>Contacts Us</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h1>Head Office:</h1>
          <p>XYZPharma</p>
          <p>Pharma House,MountValley</p>
          <p>SH Marg.Mumbai</p>
          <p>400201</p>
        </div>
        <div class="col-md-6">
          <h1>Business Hours</h1>
          <p>24X7</p>
          <p>Contact before visiting:9011236784</p>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
</div>